@media(max-width: 991px) {
    html {
        font-size: 75%;
    }
    .slider_area {
        height: auto;
    }
    .slider_content {
        height: auto;
        padding-top: 180px;
    }
    .service_area {
        padding: 80px 0;
        text-align: center;
    }
    .service_content {
        margin: 80px 0;
        align-items: center;
    }
    .course_content {
        margin-bottom: 100px;
    }
    .enjoy_content {
        padding: 50px 0;
    }
    .online_learn_content {
        padding: 20px 0 50px 0;
        margin-right: 0;
    }
    .online_learn_img {
        margin-left: 0;
    }
    .online_learn_img img {
        width: 100%;
    }
    .practice {
        right: -50px;
    }
    .single_education {
        margin-bottom: 30px;
    }
    .education_bottom {
        margin-top: -80px;
    }
    .contact_form::after {
        display: none;
    }
    .footer_img {
        margin-top: 0;
    }
    .footer_img img {
        width: 100%;
    }
    .footer_bottom {
        margin-top: 10px;
    }
}

@media(max-width: 786px) {
    .footer_bottom {
        grid-template-columns: 1fr;
        margin-top: -120px;
    }
}